<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet library="css" name="telefony.css" />
</h:head>

<h:body>
	<ul id="saturday">
		<li><a href="main.jsf" title="">Start</a></li>
		<li><a href="listaTelefonow.jsf" title="">Lista</a></li>
		<li><a href="dodajTelefon.jsf" title="">Dodaj</a></li>
		<li><a href="" title="">Portfel</a></li>
		<li><a href="" title="">Klienci</a></li>
	</ul>
</h:body>
</html>